<section class="page-container">
  <app-sidebar (layoutType)="configureLayout($event)"></app-sidebar>
  <app-modal-fullscreen></app-modal-fullscreen>
  <div class="content">
    <div class="infos-container">
      <div class="search-bar">
        <mat-form-field appearance="outline">
          <input matInput type="search" value="" />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <div class="entities-cards-container" *ngFor="let entity of entities">
        <app-entity-card [data]="layoutType"></app-entity-card>
      </div>
    </div>
    <app-map></app-map>
  </div>
</section>
