.modal-container {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 15px 20px;

  width: 527px;
  height: 880px;

  background-color: #ffffff;
  border-radius: 30px;

  .modal-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    margin-top: 20px;
    width: 100%;
    height: 10%;

    h2 {
      display: flex;
      justify-content: center;
      margin-left: 20%;

      font: bold 48px Ubuntu;
    }

    mat-icon {
      font-size: 40px;

      position: absolute;
      right: 5px;
      bottom: 40px;
    }
  }
}
